div { overflow: hidden; }

.camera {
    width: 360px;
    min-height: 270px;
    float: left;
    margin: 0 20px 25px 0;
    border: 1px solid #aaa;
    clear:both;
}

body {
    background: #f4f4f4;
    padding-bottom: 40px;
}

ul, ol {
    margin: 20px 0 30px;
}

p, li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}

li {
    font-style: italic;
    margin-bottom: 0; 
}

.buttons {
    margin: 20px 0;
    overflow: auto;
}

.buttons .btn {
    float: left;
    font-size: larger;
    padding: 0.8em 1.5em;
    width: 49%;
}

.buttons .btn:last-child {
    margin-left: 2%;
}

.chat-app {
    background: #ddd;
    border-radius: 6px;
    padding: 15px;
    margin: 0 auto;
    width: 600px;
    float: left;
}

.chat-app button.btn {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 5px;
    padding: 7px 20px;
    line-height: normal;
}

.chat-app .form-control {
    display: inline-block;
    float: left;
    width: 372px;
}

.chat-app .message-input {
    height: 34px;
    width: 459px;
}

.demo-connect,
.chat-inner-input {
    overflow: auto;
}

.demo-connect .btn {
    float: left;
}

ul.chat-inner-messages {
    border-top: 1px solid #aaa;
    margin: 10px 0 0;
    padding-top: 10px;
    list-style-type: none;
}

ul.chat-inner-messages li p {
    font-size: 16px;
    margin: 5px 0 0;
}

ul.chat-inner-messages li .badge {
    float: none;
}

ul.chat-inner-messages li.self {
    text-align: right;
}

#sendText {
    display: none;
}
