
* {
    font-family: 'Karla', sans-serif;
}

.logo {
        padding: 4px 10px;
    display: inline-block;
    font-family: 'Futura', sans-serif !important;
    font-size: 30px;
    position: relative;
}

.logo > img {
    position: absolute;
    height: 34px;
    opacity: 0.85;
    top: 7px;
    left: 11px;
}
.logo-title {
    padding-left: 38px;
    display: block;
}

.camera {
    width: 100%;
    background-color: black;
    clear: both;
}

#localVideo {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

body {
    background: #f4f4f4;
    padding-bottom: 40px;
}

ul, ol {
    margin: 20px 0 30px;
}

p, li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}

li {
    margin-bottom: 0;
}

.buttons {
    margin: 20px 0;
    overflow: auto;
}

.buttons .btn {
    float: left;
    font-size: larger;
    padding: 0.8em 1.5em;
    width: 49%;
}

.buttons .btn:last-child {
    margin-left: 2%;
}

.chat-inner {
    background: rgba(0,0,0,0.05);
    padding: 15px;
    overflow: auto;
    height: 100%;
}

.chat-app button.btn {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 5px;
    padding: 7px 20px;
    line-height: normal;
}

.chat-app .form-control {
    display: inline-block;
    float: left;
    margin-right:20px;
}

.demo-connect,
.chat-inner-input {
    overflow: auto;
}

.demo-connect .btn {
    float: left;
}

ul.chat-inner-messages {
    border-top: 1px solid #aaa;
    margin: 10px 0 0;
    padding-top: 10px;
    list-style-type: none;
}

ul.chat-inner-messages li p {
    font-size: 13px;
    margin: 5px 0 0;
}

ul.chat-inner-messages li .badge {
    float: none;
}

ul.chat-inner-messages li.self {
    text-align: right;
}

#sendText {
    display: none;
}

.video-container {
    padding: 0px 20px 20px;
    width: 100%;
    float:left;
    text-align: center;
}

.content-body,.content-head  {
    max-width: 140rem;
    margin-right: auto;
    margin-left: auto;
}
.video-app {
    width: 50%;
    float:left;
    display:inline;
}

.chat-half {
    width: 50%;
    float:left;
    display:inline;
}

.chat-app {
    height:100%;
    padding-right: 20px;
}
.content-head {
padding: 14px 20px;
    position: relative;
    height: 78px;
}

.room-data {
    position: absolute;
    top:20px;
    right:0px;
    margin-top: 0px;
}

.form-control {
    border-radius:0 !important;
    color: #222;
    background-color: rgba(0,0,0,00);
    background-image: none;
    border: none;
    border-bottom: 3px solid black;
}

.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}
.badge {
    color: #3F77FF !important;
    padding:0 !important;
    background-color:transparent !important;
}


@media screen and (max-width: 1300px){
    .content-body,.content-head  {
        max-width: 94rem;
        margin-right: auto;
        margin-left: auto;
    }
}

div.file-share {
    width: 30%;
}

div#bitrate {
  margin: 0 0 1em 0;
}

div.label {
  display: inline-block;
  color: black;
  width: 8.2em;
}

form {
  margin: 0 0 1em 0;
  white-space: nowrap;
}

progress {
  width: calc(100% - 8.5em);
}

